{%  extends '::base.html.twig' %}


 {% block body %}
        <h2 style="color:#fff;font-weight:bold;" >Oops! Not found! Looking for something?</h2>

     {{ render(controller('EventBundle:Event:_upcomingEvents', { 'max' : 1 })) }}
 {% endblock %}