{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event list</h1>

   {{ render(controller('EventBundle:Event:_upcomingEvents')) }}

    <ul class="list-group">
        <li class="list-group-item">
            <a class="link" href="{{ path('event_new') }}">Create a new entry</a>
        </li>
        <li class="list-group-item">
            <a class="link" href="{{ path('login_form') }}" >Login</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="list-group-item">
            <a class="link" href="{{ path('logout') }}" >Logout</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
